* {
  margin: 0;
  /*padding: 0; this is redundant styling in developer tools*/
  /*box-sizing: border-box;*/
}

/* I used this to get rid of the weird border that I was getting */
.hero-section {
  background-color: #6f43f5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  /* this makes usre that the height adjusts according to the elements that are placed within*/

}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}



.hero-image img {
  max-width: 900px;
  height: auto;
}

/* this styling property is used to ensure the image takes up the full width and is aligned to the right*/

.header-text {
  color: #fffdfd;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  font-size: 64px;
  /*margin-left: 17%;*/
  margin: 17%;
  /*did this styling so that the button styles accordingly because previously the margin-top property was not applying to the primary button class because of conflicting styles because the class sits inside the header text div*/
}
/* this is styling for button contained within the the hero scetion*/
.button-primary {
  color: #6f43f5;
  letter-spacing: 2px;
  background-color: #dfd4ff;
  padding: 12px 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  border-radius: 10px;
  transition: all .2s;
  margin-left: 17%;
  z-index: 1;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}
  /*initially had a overflow y property applied but tutor suggested that i can use a flex layout instaed of a grid layout to get rid of unneccessary scrolling that was hindering user experience*/
.layout-grid {
  display: flex;
  /*initially used  a justify content-space between property but when i had less that 4 grid inputs my grid was becoming compressed with white space to the left. Chat gpt suggested that a space-around property can ensure that that the grid always takes up all remaining space*/
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dfd4ff;
}

.grid-item {
  flex: 0 0 calc(33.33% - 5%);
  /*flex item should not grow or shrink, and it should have a fixed width based on the specified calculation. This allows you to have a consistent width for each grid item while still maintaining a responsive layout*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5%;
  /* apply a fixed height for the grid item so that all podcast items can be evenly styled*/
  height: 600px;
}
/* grid item styled after consult with tutor. proposed a way that i can apply a flex grow property to the episode title so that even if it is long or short it takes up remianining space and the stars container can be at fixed height*/
.grid-item h4 {
  flex-grow: 1;
  margin: 0;
  word-wrap: break-word;
  /* Add this property to allow the <h4> element to wrap onto a new line if needed */
}

.filled-star-icon {
  font-size: 50px;
  color: #6f43f5;
}

.grid-item .stars-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-grid img {
  max-width: 390px;
}
.layout-grid h3 {
  font-size: 30px;
  margin-top: 5%;
}

.layout-grid h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 10%;
  /*does not work because some podcast is 2 lines and the stars do not appear in line*/
}
/* this text decoration is for my "add title" button elements*/
a {
  text-decoration: underline;
}

.body {
  padding-left: 0;
  padding-right: 0;
}

.footer-section {
  background-color: #6f43f5;
  display: flex;
  /*align-items: center; did not want the text to be sitting so low
  justify-content: flex-start;*/
  width: 100%;
  height: auto;
}

.footer-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 606px;

}

.footer-image img {
  max-width: 606px;
  height: auto;
}

.footer-text-content {
  display: flex;
  flex-direction: column;
  /*to create a vertical layout*/
  align-items: flex-end;
  /* to align items to the right*/
  flex-grow: 1;
  /* to have it take up the volume of the footer-section-container*/
  margin-right: 7%;
  /*flex: 1; this is to make sure that the text-content container takes up the rest of the footer-section container*/
}

.footer-text {
  width: fit-content;
  /* to ensure that the width same as contents inside*/
  white-space: nowrap;
  /* to ensure no line breaks in the text content*/
  font-family: Merriweather, serif;
  color: #fffdfd;
  font-size: 64px;
  font-weight: 100;
  margin-top: 20%;
  margin-bottom: 10%;

}

.button-secondary {
  color: #6f43f5;
  letter-spacing: 2px;
  background-color: #dfd4ff;
  padding: 12px 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  border-radius: 10px;
  /*to make rounded corners*/
  /*justify-content: flex-end; Display inline property prevents flexbox from applying */

}

.button-secondary:hover {
  color: #fff;
  background-color: #32343a;
}

.button- .button-secondary {
  background-color: #43464d;
}
#form-container {
  position: fixed;
  /* used position fixed to ensure that teh container is docked to the right of my screen and top 0 right 0 to achieve designerd fixed window such that i can still scroll through the background grid items*/
  top: 0;
  right: 0;
  width: 50%;
  min-height: 800px;
  background-color: #dfd4ff;
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transition: right 0.3s ease-in-out;
  transform: translateX(100%);
  /* translate property is applied to get the form to look like it is sliding out - used chatgpt to get this working*/
}

#form-container.active {
  transform: translateX(0%);
}


.close-button {
  position: absolute;
  top: 5%;
  right: 6%;
  width: 55px;
  height: 55px;
  font-size: 40px;
  background-color: white;
  border: 2px solid #6f43f5;
  border-radius: 30px;
  color: #6f43f5;
  cursor: pointer;
  /*cursor pointer is used to make elements clickable*/
}

.close-button:hover {
  color: #ff0000;
}

.more-info-close-button {
  position: absolute;
  top: 5%;
  right: 6%;
  width: 55px;
  height: 55px;
  font-size: 40px;
  background-color: white;
  border: 2px solid #6f43f5;
  border-radius: 30px;
  color: #6f43f5;
  cursor: pointer;
}

.more-info-close-button:hover {
  color: #ff0000;
}

form label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 5%;
}
/* styling of input fields boxes for all those with text inputs*/
form input {
  display: block;
  margin-bottom: 7.5%;
  width: 300px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid #6f43f5;
}
/* styling for the dropdown menu similar to the input fields however adjusted to accommodate */
select {
  border: 1px solid #6f43f5;
  background-color: white;
  margin-bottom: 7.5%;
  width: 300px;
  height: 60px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 2%;
}

.genre-carousel {
  display: flex;
  /* overflow property is introduced so that i can make a scrollable carousel */
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
/*each icon and its attached text propery is an item and styled accordingly*/
.genre-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  scroll-snap-align: center;
  cursor: pointer;
  margin-bottom: 5%;
}
/* styling for the gener icons*/
.genre-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.3s ease;
  /* Add a transition for smooth animation */
  margin-bottom: 10%;
}
/* styling for the purple ring that appears on hover*/
.genre-item img:hover,
.genre-item img.active {
  border-color: #6f43f5;
}

.genre-name {
  display: block;
  /*thedefault display-inline property was perventing my styles alignment from taking effect, used dev tools to figure this out*/
  font-size: 20px;
  text-align: center;
}

.star-rating input[type="radio"] {
  display: none;
  /* Hide the default radio buttons */
}

.genre-item input[type="radio"] {
  display: none;
  /* Hide the default radio buttons */
}

.star-rating {
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
  margin-bottom: 4.2%;
  /*to make sure that the buttons were in alignment between pages*/
}

.star {
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
  /* Add some spacing between stars */
}

.star.active {
  color: #6f43f5;
}
/* this is the multi-step form pattern that toggles between an active /none display to show contents of the current page user is on*/
.step {
  display: none;
}

.step.active {
  display: block;
}
/* styling for button cantained within form*/
.button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin: 20px;
}

button.next-btn,
button.submit-btn {
  height: 65px;
  border-radius: 15px;
  float: right;
  cursor: pointer;
  background-color: #6f43f5;
  border: none;
  color: #fff;
  /* text-align: right; */
}

button.previous-btn {
  float: left;
  height: 65px;
  border-radius: 15px;
  border: 1px solid #6f43f5;
  color: #6f43f5;
}
/* styling for extended view window . Similar logic used to get slide in effect through translate property*/
#more-info-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  min-height: 800px;
  background-color: white;
  padding: 5%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transition: right 0.3s ease-in-out;
  transform: translateX(100%);
  border: 2px solid #6f43f5;
}

#more-info-container.active {
  transform: translateX(0%);
}
/* this is used to target all the top level span elements . I troied to use bold but realised that for that i will need to import the bold font from google and decided to give it a complmentary font to diffrenciate between teh two*/
.more-info .field>span:first-child {
  font-family: 'Merriweather', serif;
}

.podcast-item img {
  width: 255px;
  height: 255px;
  border-radius: 30px;
}

.more-info {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 45%;
  margin-top: 10%;
  color: #6f43f5;

}

.field {
  margin-bottom: 10%;
  /* adjust the space between each field*/
}

.podcast-item {
  float: left;
  margin-right: 20px;
}

#trashcan-icon {
  height: 50px;
  position: absolute;
  bottom: 15%;
  right: 6%;
  cursor: pointer;

}
/* this is the styling for the stars that is contained in the extended view window */
.stars-container {
  display: flex;
  justify-content: center;
}

.star-icon {
  color: #6f43f5;
  font-size: 50px;
}
/* styling for the delet confirmation pop-up modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  /*use the z-index property to have the modal sit on top of the existing content*/
  top: 40%;
  right: 10%;
  width: 400px;
  height: fit-content;
  background-color: #dfd4ff;
  padding: 2%;
  border-radius: 30px;
  border: 1px solid #6f43f5;
}

.modal p {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  align-items: center;
  /* white-space: nowrap; - initially used as i wanted it all in 1 line but this interfered with my styling for my mobile view */

}

#confirm-delete,
#refuse-delete {
  float: right;
  margin: 5%;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
}

#confirm-delete {
  background-color: #6f43f5;
  color: #fff;
  border: 1px solid #6f43f5;
}

#refuse-delete {
  background-color: #fff;
  color: #6f43f5;
  border: 1px solid #6f43f5;
}
/* this styling is taken from the my dev tools  which is from the canvas instructions pdf and the added library and adjusted accordingly to achieve the aesthetic i wanted*/

.tagify {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #6f43f5;
  background-color: #FFF;
  padding: 0;
  line-height: 60px;
  cursor: text;
  outline: 0;
  position: relative;
  box-sizing: border-box;
  transition: 0.1s;
  border-radius: 15px;
  min-width: 300px;
  max-width: fit-content;
  height: 60px;
  margin-bottom: 7.5%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  --tag-remove-btn-color: white;
  --tag-remove-btn-bg--hover: #6f43f5;
}

.tagify__tag {
  --tag-bg: #6f43f5;
  --tag-text-color: #FFF;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 390px) {
  /* CSS rules for mobile devices with a minimum width of 390px */
/* changed the size hero image , font size of header text and button text and size of button*/
  .hero-image img {
    max-width: 253px;
    height: auto;
  }

  .header-text {
    font-size: 20px;
    margin: 17%;
  }

  .button-primary {
    padding: 5px 8px;
    max-width: 72px;
    font-size: 12px;
    border-radius: 7px;

  }
/* changed size of close button on form window and extended view pop-up*/
  .close-button {
    position: absolute;
    top: 5%;
    right: 6%;
    width: 30px;
    height: 30px;
    font-size: 22px;
    /* adjusted to look more consistent on small screen*/
    border: 1px solid #6f43f5;
    border-radius: 30px;
    cursor: pointer;
  }

  .more-info-close-button {
    position: absolute;
    top: 5%;
    right: 6%;
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: 1px solid #6f43f5;
  }
/* styling for form input and label fields*/
  form label {
    font-size: 16px;
    margin-bottom: 25%;
    margin-top: 40%;
  }

  form input {
    margin-bottom: 40%;
    width: 174px;
    height: 29px;
    border-radius: 8px;

  }
/* styling for dropdown menu on mobile veiw*/
  select {
    width: 174px;
    height: 29px;
    border-radius: 5px;
    font-size: 12px;
  }

/* styling for genre picker carousel contained within form*/
  .genre-item {
    margin-bottom: 6%;
    margin-top: -30px;
  }

  .genre-item img {
    width: 107px;
    height: 107px;
  }

  .genre-name {
    font-size: 14px;
  }

  /*this refres to the stars inside the form*/
  .star {
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10%;
  }
/* styling for next and back buttons contained within form*/
  .button-text {
    font-size: 12px;
    margin: 10px;
  }

  button.next-btn,
  button.submit-btn {
    height: 29px;
    border-radius: 5px;
  }

  button.previous-btn {
    height: 29px;
    border-radius: 5px;
  }
/* image of genre inside the extyended view slide in*/
  .podcast-item img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 25px;
  }
/* styling for elements within teh extended view slide-out window */
  .more-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 180px;
    margin-left: 5px;
    color: #6f43f5;

  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    /* margins are all adjusted as mobile view has a much longer screen size*/
  }

  .more-info .field span:first-child {
    margin-bottom: 8px;
  }

  .podcast-item {
    float: left;
    margin-right: 20px;
  }

  #trashcan-icon {
    height: 28px;
    bottom: 5%;
    right: 6%;
  }
/* styling for the delete confirmation pop-up modal*/
  .modal {
    right: 2.5%;
    width: 192px;
    height: fit-content;
    background-color: #dfd4ff;
    padding: 3%;
    border-radius: 15px;
  }

  .modal p {
    font-size: 12px;
    word-wrap: break-word;
  }

  #confirm-delete,
  #refuse-delete {
    margin: 2%;
    width: 28px;
    font-size: 10px;
    border-radius: 5px;
    padding: 2%;
  }
/*styling for the tag input field*/
  .tagify {
    padding: 0;
    line-height: 29px;
    border-radius: 5px;
    min-width: 174px;
    height: 30px;
    margin-bottom: 40%;
    font-size: 12px;
  }

  .tagify__tag {
    --tag-bg: #6f43f5;
    --tag-text-color: #FFF;
    margin-top: -2px;
  }
/*styling for the grid items in the body section - dimensions follow closely with my hi fidelity mockups*/
  .grid-item {
    height: 250px;
  }

  .filled-star-icon {
    font-size: 20px;
  }

  .layout-grid img {
    max-width: 148px;
  }

  .layout-grid h3 {
    font-size: 14px;
  }

  .layout-grid h4 {
    font-size: 12px;
  }

  .footer-image img {
    max-width: 157px;
    height: auto;
  }

  .footer-text {
    font-size: 20px;
  }

  .button-secondary {

    padding: 5px 8px;
    max-width: 72px;
    font-size: 12px;
    border-radius: 7px;
  }

}